body {
  background-color: lightblue;
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  color: black;
  text-align: center;
}

nav {
  display: block;
  display: inline;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: black;
}
ol {
	color: White;
  } 
ul {
	color: green;
  } 


footer{
	float: bottom;
}

		 

@media screen and (max-width: 480px) {
  body {
   background-color: red;
   background-image: url("../img/background.jpeg");
   background-repeat: repeat-y;
   background-size: 100%;
  }
	
	img { max-width: 100%;
         height: auto; }
#logo {
	display : none;
} 

  }
@media screen and (min-width: 481px) and (max-width: 1024px){
  body {
	background-color: lightblue;
    background-image: url("../img/background.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
  }
	
	img { max-width: 100%;
         height: auto; }
#logo {
	display : none;
}
  }

		 
		 
		 
		 
		 